.App {
  text-align: center;
  height: 100%;
  border: 3px rgb(126, 4, 4) solid;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 100px 100px auto;
  grid-template-areas: "logo search menu"
                       "nav nav nav"
                       "pic pic pic";
}

.horizontalNav {
  grid-area: nav;
  border: 1px solid darkblue;
}

/*
nav {
  grid-area: nav;
  border: 1px solid salmon;
 
}*/

.searchBarDiv {
  border: 1px solid cornflowerblue;
  grid-area: search;
}


.chosen {
  background-color: aqua;
  color: red;
}


.pageTitle {
  border: 1px solid maroon;

}

.bodyDiv {
  border: 1px solid orange;
 
}



.categoryNavItem {
  color: navy;
  /* text-decoration: underline;
  cursor: pointer; */
  padding: 1rem;
}

.postingsDiv {
  border: 1px solid black;

}

.postingCard {
  border: 1px solid purple;

}

.postingBody {
  border: 1px solid yellow;
 
}

.createPostingOuterDiv {
  border: 1px solid brown;
 
}

.createPostingDiv {
  border: 1px solid teal;

}
