body {
  height: 100%;
}

nav {
  border: 3px solid salmon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.chosen {
  background-color: aqua;
  color: red;
}

.App {
  border: 3px solid pink;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.pageTitle {
  border: 3px solid maroon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.bodyDiv {
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.horizontalNav {
  border: 3px solid darkblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.searchBarDiv {
  border: 3px solid cornflowerblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.searchResultsDiv {
  border: 3px solid orangered;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.categoryNavItem {
  color: navy;
  text-decoration: underline;
  cursor: pointer;
  padding: 1rem;
}

.postingsDiv {
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.postingCard {
  border: 3px solid purple;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.postingBody {
  border: 3px solid yellow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}

.createPostingOuterDiv {
  border: 3px solid brown;
  display: flex;
  justify-content: center;
}

.createPostingDiv {
  border: 3px solid teal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
  width: 15rem;
}

.navBarDiv {
  border: 3px solid rosybrown;
  z-index: 10;
  position: fixed;
  right: 2rem;
  top: 2rem;
  height: 8rem;
}
