/* .home {
    text-align: center;
    height: 100%;
    border: 3px rgb(126, 4, 4) solid;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto;
    grid-template-areas: "searchBarDiv"
                         "horizontalNav"
                         "bodyDiv";
  } */
/* FONTS -------------------------------------------------------------------- */
  @font-face {
    font-family: 'Apocalypse';
    src: local('Apocalypse'), url(./fonts/Apocalypse.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(./fonts/Roboto-Bold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url(./fonts/Roboto-Medium.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto-Thin';
    src: local('Roboto-Thin'), url(./fonts/Roboto-Thin.ttf) format('truetype');
  }

.ApocalistHeader {
    border: 1px green solid;
    font-family: Apocalypse;
    font-size: 4em;
    padding: 0;
    letter-spacing: .2em;
    margin: 0 auto;
    color: rgb(45, 43, 43);
}

/* SEARCH BAR DIV -------------------------------------------------------------------- */

.searchBarDiv {
    padding: 12px;
}

.iconDiv {
    display: inline-block;
    /* padding: 0 100px 0 0; */
    font-size: 2em;
}

.searchInputDiv {
    display: inline-block;
    width: 815px;
    font-size: 2em;
    
}

.searchInput {
    font-size: .6em;
    text-align: center;
    font-family: Apocalypse;
}

.menuIconDiv {
    display: inline-block;
    font-size: 2em;
}

/* CATEGORIES DIV -------------------------------------------------------------------- */

.categoryNavItem {
    font-size: 1.5em;
}

.scrollCategories {
    max-width: 1000px;
    overflow-x: scroll;
}